<%= form_for(contact_group) do |f| %>
  <% if contact_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_group.errors.count, "error") %> prohibited this contact_group from being saved:</h2>

      <ul>
      <% contact_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_id %>
    <%= f.number_field :contact_id %>
  </div>

  <div class="field">
    <%= f.label :group_id %>
    <%= f.number_field :group_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
