<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @contact_group.contact_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @contact_group.group_id %>
</p>

<%= link_to 'Edit', edit_contact_group_path(@contact_group) %> |
<%= link_to 'Back', contact_groups_path %>
