<p id="notice"><%= notice %></p>

<h1>Ringtones</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ringtones.each do |ringtone| %>
      <tr>
        <td><%= ringtone.name %></td>
        <td><%= ringtone.file %></td>
        <td><%= link_to 'Show', ringtone %></td>
        <td><%= link_to 'Edit', edit_ringtone_path(ringtone) %></td>
        <td><%= link_to 'Destroy', ringtone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ringtone', new_ringtone_path %>
