<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ringtone.name %>
</p>

<p>
  <strong>File:</strong>
  <%= @ringtone.file %>
</p>

<%= link_to 'Edit', edit_ringtone_path(@ringtone) %> |
<%= link_to 'Back', ringtones_path %>
