<% #= form_for(contact) do |f| %>
<%= form_for contact, url: contacts_path, html: { multipart: true } do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :names %>
    <%= f.text_field :names %>
  </div>

  <div class="field">
    <%= f.label :last_names %>
    <%= f.text_field :last_names %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :ringtone_id %>
    <%= f.number_field :ringtone_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
