<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @contact.names %>
</p>

<p>
  <strong>Last names:</strong>
  <%= @contact.last_names %>
</p>

<p>
  <strong>Image:</strong>
  <%= @contact.image %>
</p>

<p>
  <strong>Ringtone:</strong>
  <%= @contact.ringtone_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
