<p id="notice"><%= notice %></p>

<p>
  <strong>Email address:</strong>
  <%= @email.email_address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @email.contact_id %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
